# Snakemake temporaries
.snakemake
.showyourwork

# Showyourwork output files
report.html
arxiv.tar.gz
ms.pdf
dag.pdf

# Misc
*.code-workspace
.vscode
*.ipynb_checkpoints
*.pyc
*.pytest_cache
*.DS_Store
*.ipynb_checkpoints
*__pycache__*
*.log
*.blg
*.bbl
*.aux
*.out
*.egg-info